# Logs
*.log
*.csv
*.dat
*.out
*.zip
*.gz

# User specific configurations
scheduler/src/main/resources/config.properties

# User specific API-keys
scheduler/src/main/resources/serviceAccountKey.json

# Targets & generated sources
scheduler/target

# Dependencies
functions/functions/node_modules
